
.nav-menu {
    display: flex;
    padding-left: 3rem;
    padding-top: 2rem;
    padding-right: 2rem;
    align-items: center;
}

.nav-menu-items {
    display: flex;
    flex-grow: 8;
    flex-direction: row-reverse;
    padding-bottom: 0px;
}

.nav-menu-item {
    font-size: 20px;
    font-weight: 500;
    padding-left: 3rem;
    color: #282c34;
}

div.nav-menu-items :hover {
    color: azure;
}


.nav-menu-image {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}

