
.topos-privacy-policy {
    padding: 0rem 2rem 0rem 2rem;
}

.topos-privacy-title {
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.3px;
    font-size: 22px;
    padding-top: 2rem;
}

.privacy-box {
    height: 30rem;
    width: 100%;
    overflow: scroll;
    word-wrap: break-word;
    text-align: center;
    margin-top: 2rem;
    border-width: 2px;
    border-style: solid;
    border-color: lightgrey;
}

.privacy-text {
    padding: 1rem;
    text-align: left;
    word-spacing: 1px;
}

.privacy-text p {

}

.privacy-agree-button {
    background-color: rgb(116, 107, 222);
    color: white;
    border: none;
    height: 55px;
    width: 160px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 2rem;
}

div>.privacy-agree-button :hover{
    height: 40px;
    width: 160px;
    background-color: rgb(90, 83, 173);
    border-radius: 6px;
}

